<div class="card my-5">
    <div class="card-header">LOGIN FORM :</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="username" class="label">Username</label>
                <input type="text" class="form-control" placeholder="Enter your username">
            </div>
            <div class="form-group">
                <label for="password" class="label">Password</label>
                <input type="text" class="form-control" placeholder="Enter your password">
            </div>
            <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>